@model employeeModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Lista Empleados</h3>
    </div>

    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Employee" method="post">

            <div class="alert alert-danger" role="alert">
                ¿Quiere eliminar a @Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)?
            </div>

            <button type="submit" asp-for="ID" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Employee" class="btn btn-primary">Volver a la lista</a>

        </form>
    </div>
</div>