@{
    ViewData["Title"] = "Home Page";
        var imagePath = Url.Content("~/images/");
}

<!--CUERPO DE LA PAGINA WEB-->
<div class="container">
    <div class="row">
        <!--BANNER-->
        <p></p>
        <img src="~/images/ferreteria.png" width="1000" height="300" alt="img">
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <p></p>
        <div class="col-md-6 col-sm-12">
            <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit.
                Hendrerit egestas vestibulum mattis leo quisque.
                Senectus nostra dui urna tellus accumsan sem diam facilisi nunc.
                Netus rutrum natoque nostra fusce a montes.
                Dis risus nec pharetra ornare eleifend congue.
                Orci maximus ultrices orci mauris posuere habitant proin rhoncus dolor.
                Tortor nostra mus tincidunt eget placerat.
                Rhoncus magnis vehicula fringilla in senectus ad.
                Malesuada vulputate viverra nunc penatibus conubia scelerisque placerat.
            </p>
            <a class="btn btn-success" style="border-radius: 20px;"
               href="https://en.wikipedia.org/wiki/Rabbit">Bnuuy</a>
            <p></p>
        </div>
        <!--IMAGENES-->
        <div class="col-md-2 col-sm-6 col-xs-6">
            <img src="~/images/truper_martillo_ma16f.jpg" width="150" height="150" alt="img">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <img src="~/images/pinzas.jpeg" width="150" height="150" alt="img">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <img src="~/images/destornillador_phillips_2.png" width="150" height="150" alt="img">
        </div>
    </div>
</div>
